[Unit]
Description=Service consul client
After=network-online.target
 
[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/consul/consul agent -data-dir /tmp/consul -join 192.168.0.53

[Install]
WantedBy=multi-user.target

